<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @address.description %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>Longitute:</strong>
  <%= @address.longitute %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @address.latitude %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
