  <ul id="slide-out" class="side-nav fixed">
    <li><div class="user-view">
      <div class="background">
        <img src="">
      </div>
      <a href="#!user"><img class="circle" src=""></a>
      <a href="#!name"><span class="black-text name">John Doe</span></a>
      <a href="#!email"><span class="black-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><%= link_to 'Dashboard', root_path, :class => 'waves-effect' %></li>
    <li><%= link_to 'Clientes', clients_path, :class => 'waves-effect' %></li>
    <li><%= link_to 'Productos', products_path, :class => 'waves-effect' %></li>
    <li><%= link_to 'Proveedores', suppliers_path, :class => 'waves-effect' %></li>
    <li><%= link_to 'Ventas', sells_path, :class => 'waves-effect' %></li>
  </ul>



    
            